/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    line-height: 1.6;
}

/*Navbar*/
nav {
    display: flex;
    justify-content: space-around;
    height: auto;
    background-color: #1D7874;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
    font-size: 21px;
}

nav div {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
}

.anchors ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.anchors ul li a {
    margin: 0 10px;
    text-decoration: none;
    color: #ffffff;
}

#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
}

/* Hero Section */
.hero {
    background: url('images/frank-header.jpeg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 15px;
}

.hero h1 {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.btn {
    background-color: #FFCC00;
    color: #000;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: 600;
}

.btn:hover {
    background-color: #ff9900;
}

/* Impacto Section */
.impacto {
    display: flex;
    align-items: center;
    padding: 3rem 2rem;
    background-color: #f4f4f4;
    flex-wrap: wrap;
}

.impacto-texto {
    flex: 1;
    padding: 1rem;
}

.impacto-texto h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.impacto-video {
    flex: 1;
    max-width: 600px;
    padding: 1rem 0;
    /* Ajuste para margen entre texto y video */
}

.impacto-video iframe {
    width: 100%;
    height: 50vh;
    /* Ocupa el 50% de la altura de la ventana del navegador */
    border-radius: 10px;
}


/* Galería Section */
.galeria {
    padding: 3rem 2rem;
    background-color: #fff;
    text-align: center;
}

.galeria h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.imagenes {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.imagenes img {
    width: 30%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.imagenes img:hover {
    transform: scale(1.05);
}

/* Logros Section */
.logros {
    background-color: #e0ffe0;
    padding: 3rem 2rem;
    text-align: center;
}

.logros h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.logros-contenido {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logro {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    width: 250px;
    margin: 1rem;
    transition: background-color 0.3s ease;
}

.logro:hover {
    background-color: #ccffcc;
}

.logro h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

/* Redes Sociales */
.redes {
    background-color: #333;
    color: white;
    padding: 3rem 2rem;
    text-align: center;
}

.redes h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.social-icons a {
    margin: 0 1rem;
}

.social-icons img {
    width: 40px;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.2);
}

/* Footer */
footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
}

/* Media Queries for Responsiveness */

/* Medium devices (tablets) */
@media (max-width: 1024px) {
    .hero h1 {
        font-size: 2.5rem;
    }

    .logro {
        width: 45%;
        margin: 1rem 0;
    }
}

/* Small devices (phones) */
@media (max-width: 600px) {

    .hero h1 {
        font-size: 2rem;
    }

    .btn {
        padding: 0.8rem 1.5rem;
        font-size: 1rem;
    }


    .impacto {
        flex-direction: column;
        align-items: center;
    }

    .impacto-texto h2 {
        font-size: 1.5rem;
    }

    .galeria {
        padding: 2rem 1rem;
        background-color: #fff;
        text-align: center;
    }

    .imagenes {
        gap: 0rem;
        row-gap: 1rem;
        flex-direction: column;
        align-items: center;
    }

    .imagenes img {
        padding: 0%;
        margin: 0%;
        width: 100%;
        /* Asegúrate que esta regla se aplique en pantallas pequeñas */
    }

    .logros-contenido {
        flex-direction: column;
        align-items: center;
    }

    .logro {
        width: 100%;
        max-width: 350px;
    }

    .impacto-video {
        max-width: 100%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .switch {
        width: 2.5em;
        height: 1.5em;
    }

    .slider:before {
        height: 1.1em;
        width: 1.1em;
        left: 5%;
        bottom: 10%;
    }

    .menu {
        position: relative;
    }

    #menu-toggle {
        display: none;
    }

    .menu-icon {
        display: flex;
        cursor: pointer;
    }

    .anchors {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background: #1D7874;
        z-index: 1000;
    }

    #menu-toggle:checked+.menu-icon+.anchors {
        display: block;
    }

    .anchors ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: medium;
    }

    .anchors li {
        padding: 10px;
    }

    .anchors li a {
        text-decoration: none;
        color: black;
        display: block;
    }

    .anchors li a:hover {
        background: #f0f0f0;
    }
}