@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body{
    font-family: 'Karla';
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    height: auto;
    background-color: #1D7874;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
    font-size: 21px;
}

nav div {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
}

.anchors ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.anchors ul li a {
    margin: 0 10px;
    text-decoration: none;
    color: #ffffff;
}

#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .switch {
        width: 2.5em; 
        height: 1.5em; 
    }

    .slider:before {
        height: 1.1em;
        width: 1.1em;
        left: 5%; 
        bottom: 10%; 
    }
    .menu {
        position: relative;
    }

    #menu-toggle {
        display: none;
    }

    .menu-icon {
        display: inline-block;
        cursor: pointer;
    }

    .anchors {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background: #1D7874;
        z-index: 1000;
    }

    #menu-toggle:checked+.menu-icon+.anchors {
        display: block;
    }

    .anchors ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: medium;
    }

    .anchors li {
        padding: 10px;
    }

    .anchors li a {
        text-decoration: none;
        color: black;
        display: block;
    }

    .anchors li a:hover {
        background: #f0f0f0;
    }
}