<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="component.css">
</head>
<body>
    <!-- Copia este header y colocalo en el inicio de tu pagina junto al css. -->
    <header>
        <nav>
            <div class="logo">
                <img src="./images/logo.png" alt="Logo">
            </div>
            <div class="menu">
                <input type="checkbox" id="menu-toggle">
                <label for="menu-toggle" class="menu-icon">
                    <img src="./images/menu.png" alt="Menú" width="35px">
                </label>
                <div class="anchors">
                    <ul>
                        <li><a href="./index.html" aria-label="Enlace a la portada">Inicio</a></li>
                        <li><a href="/FrankJungla/portada/index.html"
                                aria-label="Enlace al santuario libertad">Santuario Libertad</a></li>
                        <li><a href="/patas/index.html" aria-label="Enlace a Patas">Patas</a></li>
                        <li><a href="#org3" aria-label="Enlace a la organizacion 3">Org 3</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</body>
</html>