@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('/components/navbar/component.css');
@import url('/components/navbar-oscuro/styles.css');

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    font-family: 'Karla';
}

/* Imagen de la cabecera*/
.img_cabecera {
    height: 92vh;
    background-image: linear-gradient(to right, rgba(40, 40, 40, 0.700), transparent), url('../img/petcare-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    margin: 0;
    width: 100%;
}

#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
}

#foto1 {
    content: url('../img/patas_white_black-removebg-preview2.png');
}

/* Texto de bienvenida en la cabecera */
.texto-bienvenida {
    color: white;
    padding-left: 50px;
}

.texto-bienvenida h1 {
    font-size: 4em;
    margin-bottom: 20px;
}

.texto-bienvenida p {
    font-size: 1.5em;
}

section .texto-section {
    padding-top: 70px;
    text-align: center;
}

.texto-section h1 {
    font-size: 2.8em;
}

.texto-section p {
    font-size: 1.5em;
    color: rgb(66, 66, 66);
}

.animales-section {
    padding: 80px;
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.animal-card {
    background-color: #fff;
    width: 350px;
    padding: 20px 20px 40px 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.animal-card:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.animal-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.animal-card h3 {
    margin: 15px 0;
    font-size: 2.2em;
}

.animal-card button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.animal-card button:hover {
    background-color: #0056b3;
}


.social-link {
    text-decoration: none;
    color: #007BFF;
}

.social-link:hover {
    text-decoration: underline;
}

.adopcion-section {
    height: 50vh;
    background-image: linear-gradient(to right, rgba(40, 40, 40, 0.700), transparent), url('../img/perro2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    margin: 0;
    width: 100%;
}

.boton{
    background-color:#1D7874;
    color: #f0f0f0;
    padding: 1rem 1.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    font-weight: 600;
}

footer {
    text-align: left;
    margin: 0px;
}

.footer-container {
    text-align: justify;
    gap: 20px;
    align-items: center;
    background-color: white;
    padding: 50px;
    display: flex;
}

.footer-container div{
    width: 40%;
    margin: 10px;
}

.footer-bottom div:nth-child(2) {
    border: 1px solid;
}

.footer-bottom {
    text-align: center;
    font-size: 0.9em;
    color: #fffbfb;
    background-color: #1D7874;
    height: 75px;
    justify-content: center;
    align-items: center;
}

.footer-bottom p{
    padding-top: 30px;
}


@media (max-width: 1100px) {
    .animales-section {
        display: block;
        text-align: center;
    }

    .animal-card {
        width: 80%;
        margin: 20px auto;
    }

    .animal-card img {
        width: 80%;
        margin: 0 auto; 
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .footer-container div {
        margin: 10px auto;
        width: 100%;
    }

    #mapa{
        width: 100%;
    }

    .footer-section {
        margin: auto;
        text-align: center;
        padding-top: 20px;
    }

    .footer-bottom {
        font-size: 0.9em;
        padding: 10px;
    }

    .footer-bottom p {
        padding-top: 20px;
        font-size: 17px;
    }

    .animal-card-adopcion {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat( 1fr);
        grid-gap: 20px;
        justify-items: center;
        width: 100%;
        margin: auto;
        padding: 0;
    }

    .animal-card-adopcion {
        width: 250px;
        margin: auto;
        padding: 0;
    }

    .animal-card-adopcion h3 {
        font-size: 1.8em;
    }

    .animal-card-adopcion img {
        width: 100%;
    }
}

@media (max-width: 550px) {
    nav {
        justify-content: space-between; 
        align-items: center;
        padding: 0 10px;
        height: 60px; 
    }

    .logo img {
        height: 100px; 
        width: auto;
    }

    .menu {
        position: relative;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        position: relative;
    }


    .anchors ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #1D7874; 
        width: 100%; 
        padding: 10px 0;
        list-style: none;
        text-align: center;
    }

    
    .texto-bienvenida h1{
        font-size: 2em;
    }

    .texto-section h1{
        font-size: 1.5em;
    }

    .texto-section p{
        font-size: 1.1em;
    }

    .animales-section {
        display: block;
        text-align: center;
    }

    .animal-card {
        width: 80%;
        margin: 20px auto;
    }

    .animal-card img {
        width: 80%;
        margin: 0 auto; 
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .footer-container div {
        margin: 10px auto;
        width: 100%;
    }s

    #mapa{
        width: 50%;
    }

    .footer-section {
        margin: auto;
        text-align: center;
        padding-top: 20px;
    }

    .footer-bottom {
        font-size: 0.9em;
        padding: 10px;
    }

    .footer-bottom p {
        padding-top: 20px;
        font-size: 17px;
    }

    .animal-card-adopcion {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 20px;
        justify-items: center;
        align-items: center;
        width: 100%;
        margin: auto;
        padding: 0;
        flex: 1;
        overflow: hidden;
    }

    .animal-card-adopcion {
        width: 250px;
        margin: auto;
        padding: 0;
    }

    .animal-card-adopcion h3 {
        font-size: 1.8em;
    }

    .animal-card-adopcion img {
        width: 100%;
    }
    
}

@media (max-width: 419px) {
    
    .texto-bienvenida{
        margin: auto;
        padding: 0;
        text-align: center;
    }
    .texto-bienvenida h1{
        font-size: 2em;
    }

    .texto-section h1{
        font-size: 1.5em;
    }

    .texto-section p{
        font-size: 1.1em;
    }

    .animales-section {
        display: block;
        text-align: center;
    }

    .animal-card {
        width: 80%;
        margin: 20px auto;
    }

    .animal-card img {
        width: 90%;
        margin: 0 auto; 
    }

    .adopcion-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center; 
    }
    
    .adopcion-section .texto-bienvenida {
        margin: 0 auto;
    }
    
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .footer-container div {
        margin: 10px auto;
        width: 100%;
    }s

    #mapa{
        width: 100%;
    }

    .footer-section {
        margin: auto;
        text-align: center;
        padding-top: 20px;
    }

    .footer-bottom {
        font-size: 0.9em;
        padding: 10px;
    }

    .footer-bottom p {
        padding-top: 20px;
        font-size: 17px;
    }
}

@media (max-width: 320px) {
    
    header, 
    footer, 
    main .img_cabecera, 
    .texto-section, 
    .animales-section, 
    .adopcion-section .texto-bienvenida h1, 
    .adopcion-section .texto-bienvenida p {
        display: none;
    }

    .adopcion-section {
        height: 100vh; 
        display: flex;
        justify-content: center; 
        align-items: center; 
        background-color: #1D7874;
    }

    .boton {
        width: 70%; 
        height: 50px; 
        font-size: 1.2rem; 
        display: flex;
        justify-content: center; 
        align-items: center;
        background-color: #FFFFFF; 
        color: #1D7874; 
        border: 2px solid #1D7874; 
        border-radius: 10px; 
        text-align: center;
        padding: 0.5rem;
        transition: background-color 0.3s ease;
        content: url(../img/patas_icono.png);
    }

    .boton:hover {
        background-color: #1D7874;
        color: #FFFFFF; 
    }
}

@media (max-width: 700px) {
    #foto1{
        content: url(/patas/img/Captura-removebg-preview.png);
        width: 70%;
        height: 5vh;
    }
}

@media (max-width: 662px) {
    #foto1{
        content: url(/patas/img/Captura-removebg-preview.png);
        width: 70%;
        height: 5vh;
    }

    
}