@font-face {
    font-family: 'Almarai';
    src: url("./Almarai-Regular.ttf");
}
body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    height: 80px;
    background-color: #1D7874;
    font-family: 'Almarai';
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
}

nav div {
    display: flex;
    align-items: center;
}

.logo img {
    height: 200px;
}

.anchors ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.anchors ul li a {
    margin: 0 10px;
    text-decoration: none;
    color: #ffffff;
}

.img_cabecera {
    height: 92vh;
    background-image: linear-gradient(to right, rgb(40, 40, 40), transparent), url('./img/petcare-header.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center; 
    padding-left: 50px; 
}

.texto-bienvenida {
    color: white;
}

.texto-bienvenida h1 {
    font-size: 4em;
    margin-bottom: 20px;
}

.texto-bienvenida p {
    font-size: 1.5em;
}

section .texto-section{
    padding-top: 70px;
    text-align: center;
}
.texto-section h1{
    font-size: 2.8em;
}
.texto-section p{
    font-size: 1.5em;
    color: rgb(66, 66, 66);
}
.animales-section {
    padding:40px;
    display: flex;
    justify-content: space-around;
    background-color: white;
}
.animal-card {
    background-color: #fff;
    width: 350px;
    padding: 20px 20px 40px 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.animal-card:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    
}

.animal-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.animal-card h3 {
    margin: 15px 0;
    font-size: 2.2em;
}

.animal-card button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.animal-card button:hover {
    background-color: #0056b3;
}

@media (max-width: 632.54px) {
    nav {
        height: 60px;
    }

    .texto-bienvenida {
        text-align: center;
        padding-right: 50px;
    }

    .logo img {
        height: 100px;
    }

    .animales-section {
        padding:30px;
        display: grid;
        text-align: center; 
        grid-template-rows: repeat(3, 1fr);
    }
}

