@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*{
    font-family: 'Karla' !important;
}

body{
    margin: 0;
}

.portada img {
    width: 100%;
}

.contenedor {
    display: flex;
    justify-content: center;  
    align-items: center;
}

.contenedor-voluntario-index{
    display: flex;
    justify-content: center;  
    align-items: center;
}

.contenedor-voluntario-index img{
    margin: 34px 0 0 0;
    width: 100%;
    height: 297px;
}

.contenedor img {
    margin: 34px 0 0 0;
    width: 100%;
    height: 297px;
}

.valores {
    margin: 30px 0 0 0;
    width: 25%;
}

.valores h1 {
    color: black;
    margin: 40px 40px 30px 40px;
    text-align: justify;
}

.valores p {
    margin: 0 40px 50px 40px;
    font-size: 1.1em;
    color: #566573;
    text-align: justify;
}

.imagenes {
    width: 25%;
}

.voluntario {
    width: 100%;
    margin: 0;
}

.voluntario h1 {
    color: black;
    margin: 60px 80px 30px 40px;
    font-size: 2.5em;
    text-decoration: underline;
    text-align: justify;
}

.voluntario h2 {
    color: black;
    margin: 0 40px 20px 100px;
    text-align: justify;
}

.voluntario .voluntario-h2 {
    color: #566573;
    margin: 0 160px 30px 100px;
    text-align: justify;
}

.voluntario p {
    margin: 0 140px 50px 40px;
    font-size: 1.1em;
    color: #566573;
    text-align: justify;
}

.img-voluntario {
    width: 90%;
    margin: 0 0 0 8%;
}

.img-voluntario img {
    height: 700px;
}

.boton-voluntario button {
    border: none;
    border-radius: 5px;
    padding: 15px 25%;
    background-color: #3498db;
    font-weight: bold;
    font-size: 0.9em;
    margin: 2% 0 0 8%;
    color: white;
}

.boton-voluntario button:hover {
    background-color: black;
}

.contenedor-voluntario {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f4f6f6;
}

.titulo-voluntario {
    margin: 30px 0 30px 0;
    color: #3498db;
    text-align: justify;
}

.boton-volver button {
    border: none;
    border-radius: 5px;
    padding: 15px 25px;
    background-color: black;
    font-weight: bold;
    font-size: 0.9em;
    color: white;
}

.boton-volver button:hover {
    background-color: #3498db;
}

.portada {
    margin: 50px 0 30px 0;
}

.titulo-portada h1 {
    margin: 0 0 20px 200px;
    font-size: 2.3em;
    text-align: justify;
}

.titulo-portada p {
    margin: 0 150px 60px 200px;
    font-size: 1.1em;
    color: #566573;
    text-align: justify;
}

.contenedor-cuerpo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.descripcion-cuerpo {
    width: 35%;
    background-color: #f4f6f6;
    margin: 15px;
}

.descripcion-cuerpo h1 {
    margin: 25px 0 20px 80px;
    font-size: 1.4em;
    font-weight: 800;
    text-align: justify;
}

.descripcion-cuerpo p {
    margin: 25px 30px 20px 80px;
    font-size: 1.1em;
    color: #566573;
    text-align: justify;
}

.contenedor-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-voluntariado {
    width: 70%;
    background-color: #eaeded;
    padding: 0 0 20px 0;
}

.form-voluntariado h1 {
    text-align: center;
    margin: 20px 0 20px 0;
    font-size: 1.5em;
    color: #3498db;
    text-align: center;
}

.form-voluntariado label {
    margin: 15px 0 0 30px;
    color: #e74c3c;
    font-weight: 500;
    font-size: 1.1em;
}

.form-voluntariado input {
    margin: 5px 0 20px 30px;
    width: 40%;
    color: #566573;
}

.form-voluntariado input[type="checkbox"] {
    margin: 0 10px 0 30px;
    width: 1%;
}

@media (max-width: 320px) {
    body, html {
        margin: 0;
        padding: 0;
        width: 100%;
        box-sizing: border-box;
    }

    .portada img {
        width: 100%;
        margin: 0; 
    }

    .valores,
    .imagenes,
    .contenedor,
    .contenedor-cuerpo,
    .form-voluntariado {
        margin: 0 !important;
        width: 100%;
        flex-direction: column;
        box-sizing: border-box;
    }

    .voluntario h1,
    .voluntario h2,
    .titulo-portada h1,
    .titulo-portada p,
    .valores h1 {
        margin: 2% 5%;
        width: 80%;
        text-align: justify;
    }

    .voluntario p{
        margin: 0 5%;
        width: 80%;
    }

    .voluntario .voluntario-h2{
        margin: 0 5%;
        width: 80%;
    }

    .valores p {
        margin: 0;
        padding: 0 !important;
        width: 100%;
        font-size: 1.1em;
        text-align: justify;
        box-sizing: border-box;
    }

    .descripcion-cuerpo {
        width: 100%;
        margin: 0 !important;
    }

    .form-voluntariado {
        width: 100%;
        margin: 0 !important;
        padding: 0 !important;
        box-sizing: border-box;
    }

    .boton-voluntario button{
        padding: 10px 20px;
        width: 100%;
        margin: 0 0 0 8%;
        box-sizing: border-box;
    }

    .valores h1 {
        margin: 2% 0;
        text-align: center;
        width: 100%;
    }

    .contenedor-voluntario-index{
        display: inline-block;
        width: 100%;
    }

    .img-voluntario{
        width: 100%;
        margin: 0;
    }

    .img-voluntario img{
        width: 100%;
    }

    .boton-voluntario{
        width: 85%;
    }

    .titulo-voluntario h1{
        font-size: 1em;
    }

    .boton-volver button{
        padding: 5px 5px;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        font-size: 0.7em;
    }

    .descripcion-cuerpo h1{
        margin: 5%;
    }

    .decripcion-cuerpo p{
        margin: 5%;
    }

    .form-voluntariado input[type="checkbox"] {
        margin: 0 10px 0 30px;
        width: 4%;
    }
}

@media (min-width: 321px) and (max-width: 430px) {
    .portada img{
        width: 92%;
        margin: 4%;
    }
    .valores,
    .voluntario,
    .imagenes,
    .contenedor,
    .contenedor-cuerpo,
    .form-voluntariado {
        width: 100%;
        flex-direction: column;
    }

    .voluntario p{
        margin: 0 5%;
        width: 80%;
    }

    .voluntario .voluntario-h2{
        margin: 0 5%;
        width: 80%;
    }

    .valores {
        margin-bottom: 10px;
        width: 100%;
    }
    .voluntario h1,
    .voluntario h2,
    .titulo-portada h1,
    .titulo-portada p {
        margin: 2% 5%;
        width: 80%;
        text-align: justify;
    }

    .contenedor-voluntario-index{
        display: inline-block;
        width: 100%;
    }

    .img-voluntario{
        width: 100%;
    }

    .img-voluntario img{
        width: 92%;
    }

    .boton-voluntario{
        width: 85%;
    }

    .descripcion-cuerpo{
        width: 100%;
        margin: 5px 0;
    }

    .descripcion-cuerpo h1{
        width: 100%;
        margin: 5%;
    }

    .descripcion-cuerpo p{
        width: 90%;
        margin: 5%;
    }

    .form-voluntariado {
        width: 90%;
        margin: 0 auto;
    }

    .boton-volver button {
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 0.7em;
    }

    .titulo-voluntario h1{
        font-size: 1em;
    }

    .form-voluntariado input[type="checkbox"] {
        margin: 0 10px 0 30px;
        width: 4%;
    }

    .form-voluntariado{
        width: 80%;
        margin: 5% 0 5% 8%;
    }
}

@media (min-width: 431px) and (max-width: 768px) {
    .portada img{
        width: 91%;
        margin: 0 4% 0 4%;
    }
    .valores,
    .voluntario,
    .contenedor,
    .contenedor-cuerpo,
    .form-voluntariado {
        margin: 0 4%;
        width: 100%;
        flex-direction: column;
    }

    .valores {
        margin-bottom: 10px;
        width: 80%;
    }
    .voluntario h1,
    .voluntario h2,
    .titulo-portada h1,
    .titulo-portada p {
        margin: 2%;
        text-align: justify;
    }

    .contenedor-voluntario-index{
        display: inline-block;
        width: 100%;
    }

    .imagenes{
        width: 70%;
        margin: 0;
    }

    .img-voluntario{
        width: 100%;
    }

    .img-voluntario img{
        width: 90%;
    }

    .boton-voluntario{
        width: 90%;
    }

    .descripcion-cuerpo {
        width: 90%;
        margin: 5px 7% 5px 0;
    }

    .descripcion-cuerpo p{
        margin: 5%;
    }

    .form-voluntariado {
        width: 90%;
        margin: 0 auto;
    }

    .titulo-portada{
        width: 100%;
        margin: 2% 5% 2% 0;
        text-align: justify;
    }

    .form-voluntariado input[type="checkbox"] {
        margin: 0 10px 0 30px;
        width: 4%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .voluntario h1 {
        font-size: 2.3em;
    }
    .voluntario p {
        font-size: 1.1em;
    }

    .voluntario{
        width: 60%;
        margin: 0;
    }

    .valores{
        margin: 0;
        width: 33%;
    }

    .imagenes{
        width: 30%;
    }

    .img-voluntario{
        width: 33%;
    }

    .boton-voluntario button{
        margin: 2% 0 0 0;
    }

    .descripcion-cuerpo h1 {
        margin: 2%;
        font-size: 1.1em;
        font-weight: 800;
        text-align: justify;
    }

    .descripcion-cuerpo p {
        margin: 2%;
        font-size: 0.9em;
        text-align: justify;
    }

    .form-voluntariado input[type="checkbox"] {
        margin: 0 10px 0 30px;
        width: 4%;
    }

    .form-voluntariado{
        margin: 2%;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .descripcion-cuerpo p {
        margin: 25px 30px 20px 70px;
        text-align: justify;
    }
}

@media (max-width: 1920px) {
    .voluntario h1 {
        font-size: 3em;
    }
}

/*Navbar*/
nav {
    display: flex;
    justify-content: space-around;
    height: auto;
    background-color: #1D7874;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
    font-size: 21px;
}

nav div {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
}

.anchors ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.anchors ul li a {
    margin: 0 10px;
    text-decoration: none;
    color: #ffffff;
}

#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
}

/*Navbar*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .switch {
        width: 2.5em;
        height: 1.5em;
    }

    .slider:before {
        height: 1.1em;
        width: 1.1em;
        left: 5%;
        bottom: 10%;
    }

    .menu {
        position: relative;
    }

    #menu-toggle {
        display: none;
    }

    .menu-icon {
        display: flex;
        cursor: pointer;
    }

    .anchors {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background: #1D7874;
        z-index: 1000;
    }

    #menu-toggle:checked+.menu-icon+.anchors {
        display: block;
    }

    .anchors ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: medium;
    }

    .anchors li {
        padding: 10px;
    }

    .anchors li a {
        text-decoration: none;
        color: black;
        display: block;
    }

    .anchors li a:hover {
        background: #f0f0f0;
    }
}