/* Reseteo de márgenes y paddings para un mejor control */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
}

/* Contenedor principal */
.contenedor-voluntario {
    text-align: center;
    padding: 20px;
}

/* Títulos */
.titulo-voluntario h1,
.titulo-portada h1,
.descripcion-cuerpo h1 {
    font-size: 2rem;
    margin: 20px 0;
}

/* Estilo para el botón */
.boton-volver button {
    background-color: #6a1b9a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo de la portada */
.portada img {
    width: 100%;
    height: auto; /* Mantiene la relación de aspecto */
}

/* Títulos de la portada */
.titulo-portada p {
    text-align: justify; /* Justificar texto */
    margin: 10px 20px;
}

/* Contenedor del cuerpo */
.contenedor-cuerpo {
    display: flex;
    flex-direction: column; /* Apilado vertical en dispositivos pequeños */
    padding: 20px;
}

.descripcion-cuerpo {
    margin-bottom: 20px;
}

/* Formulario */
.contenedor-form {
    max-width: 100%;
    margin: 20px auto; /* Añadido margen superior e inferior */
    background: #fff;
    padding: 30px; /* Aumentado el padding para que se estire un poco más */
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.form-voluntariado h1 {
    margin-bottom: 20px;
}

/* Estilo para los campos del formulario */
form label {
    display: block;
    margin: 10px 0 5px;
}

form input[type="text"],
form input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Justificar texto en el formulario */
form p {
    text-align: justify;
}

/* Estilos para los checkboxes */
form p input[type="checkbox"] {
    margin-right: 10px;
}

/* Responsividad */
@media (max-width: 1440px) {
    .contenedor-cuerpo {
        flex-direction: column; /* Cambiar a columna en pantallas más pequeñas */
    }

    .titulo-voluntario h1 {
        font-size: 1.8rem; /* Ajustar tamaño de texto */
    }

    .titulo-portada h1 {
        font-size: 1.5rem; /* Ajustar tamaño de texto */
    }

    .form-voluntariado h1 {
        font-size: 1.5rem; /* Ajustar tamaño de texto */
    }
}

@media (max-width: 768px) {
    .titulo-voluntario h1,
    .titulo-portada h1,
    .descripcion-cuerpo h1 {
        font-size: 1.2rem; /* Ajustar tamaño de texto */
    }
}
